[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "4.6.2"
beautifulsoup4 = "4.9.3"
pyyaml = "5.3.1"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
crawl = "python main.py"
test = "python -m unittest discover -v"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
